.align-subscribe-button {
    background-color: rgba(255, 235, 205, 0);
    display: flex;
    align-items: center;


    font-family: sans-serif;
    font-size: 8;
}


.reaction-box {
    display: flex;
    align-items: center; 
    justify-content: center;
 
    background-color: rgb(37, 37, 37);
    border-radius: 30px; 
    width: 112px;
    height: 29px;

    margin-left: 10px;
    padding-top: 3px;
}



.like-count-group {
    display: flex;
    align-items: center;
    background-color: none;
    justify-content: center;
    
    
}

.profile-username {
    background-color: None;
    color: White;                  
    font-family: sans-serif;
    font-weight: 500;
    font-size: 9.65pt;
                     
    margin-top: 0px;
    margin-bottom: 7px; 
}   


.sub-butt {
    background-color: rgb(37, 37, 37);
    color: rgb(19, 19, 19);
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: sans-serif;
    font-size: 11px;
    
    border: none;
    border-radius: 30px;
    

    width: 80px;
    height: 30px;

    margin-left: 12px;
    margin-right: 20px;  
}


.like-count {
    background-color: rgba(85, 61, 61, 0);
    color: rgb(255, 255, 255);
    display: flex;

    font-family: sans-serif;
    font-size: 12px;
    font-weight: 500;
    
    margin-left: 1px;
}


.fa.fa-thumbs-up {
    background-color: rgba(59, 59, 59, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    
    padding: 0px 0px 0px 0px;
    width: 35px;
    height: 20px;

    margin-right: 1px;
    

    cursor: pointer;
}


.fa.fa-thumbs-down {
    background-color: rgba(59, 59, 59, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    
    padding: 0px 0px 0px 0px;
    width: 35px;
    height: 20px;

    cursor: pointer;
}


.vid-stats {
    background-color: None;
    color: White; 
    border: none;

    font-family: sans-serif;
    font-weight: 500;
    font-size: 10pt;
        
    margin-bottom: 8.2px;
}


.descript-head {
    background-color: none;
    color: white;
    border: none;

    font-family: sans-serif;
    font-weight: 500;
    font-size: 9.65px;

    margin-bottom: 25px;
}


.descript-body {
    background-color: none;
    color: white;
    border: none;

    font-family: sans-serif;
    font-weight: 500;
    font-size: 9.65px;

    margin-bottom: 10px;
}